* {
    box-sizing: border-box;
    color: white;
    transition: all 1s;
}

body {
    margin: 0px;
}

nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(53, 53, 9);
    height: 12vh;
    padding: 10px;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 15vw;
    justify-content: space-between;
}

ul * {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu_btn {
    width: 50px;
    display: none;
}


@media (max-width: 600px) {
    .menu_btn {
        display: block;
    }

    ul {
        display: none;
    }

    .ul {
        height: 10vh;
    }

    .ul {
        display: flex;
        position: fixed;
        top: 12vh;
        width: 100vw;
        height: 20vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(53, 53, 9);
        left: 0px;

    }
}